<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>spring_web</display-name>
	
	<!-- 配置的这个监听器，会在Web工程启动的时候创建好Spring IOC 容器，并保存到ServletContext域中 -->
	<!-- 配置spring IOC 容器需要的配置文件路径 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<!-- 配置一个SevletContextListener监听器，在web工程启动的时候创建ServletContext(创建了一个Spring IOC 容器) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SpringTestServlet1</display-name>
		<servlet-name>SpringTestServlet1</servlet-name>
		<servlet-class>com.atguigu.servlet.SpringTestServlet1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SpringTestServlet1</servlet-name>
		<url-pattern>/springTestServlet1</url-pattern>
	</servlet-mapping>
</web-app>