<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<bean id="car" class="com.atguigu.pojo.Car">
		<property name="carNo" value="京B123412" />
		<property name="name" value="蓝脖鸡泥" />
	</bean>
	<bean id="person" class="com.atguigu.pojo.Person">

<!-- 实验26：[SpEL测试I]在SpEL中使用字面量 -->
<!-- 使用格式：#{数值} 		#{“字符串” || ‘字符串’} -->
		<property name="id" value="#{100}" />
<!-- 		<property name="name" value="#{'我是SpringEL输出的字符串'}" /> -->
<!-- 实验27：[SpEL测试II]在SpEL中引用其他bean -->
<!-- 使用格式：#{bean的id} -->
		<property name="car" value="#{car}"></property>
<!-- 实验28：[SpEL测试III]在SpEL中引用其他bean的某个属性值 -->
<!-- 使用格式： #{bean.属性名} -->
<!-- 		<property name="name" value="#{car.name}"></property> -->
<!-- 实验29：[SpEL测试IV]在SpEL中调用非静态方法 -->
<!-- 使用格式： #{bean.方法名(参数)} -->
<!-- 		<property name="name" value="#{car.fun()}"></property> -->
<!-- 实验30：[SpEL测试V]在SpEL中调用静态方法 -->
<!-- 使用格式：#{T(全名类).方法名(参数)} -->
		<property name="name" value="#{T(com.atguigu.pojo.Car).staticFun()}"></property>

<!-- 实验31：[SpEL测试VI]在SpEL中使用运算符 -->
<!-- 使用格式：#{表达式} -->
		<property name="salary" value="#{10000 * 10}" />
	</bean>

</beans>
